@import "bootstrap/scss/bootstrap";
@import "./scss/TodoInput.scss";


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffd370;
}

.app {   
  background: white; 
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

h1 {
  text-align: center;
}

.todo-input-wrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}